/* CSS declarations go here */

		html, body, a, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; border-collapse:collapse; border-spacing:0; }                  
		a:hover, a:active, a:focus, object, embed { outline:none; }
		article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
		hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
		input, select { vertical-align:middle; } button { width:auto; overflow:visible; } button, input, select, textarea { margin:0; } label, input[type=button], input[type=submit], button { cursor:pointer; }input[type="radio"] { vertical-align:text-bottom; } input[type="checkbox"] { vertical-align:bottom; } .ie7 input[type="checkbox"] { vertical-align:baseline; } .ie6 input { vertical-align:text-bottom; } textarea { overflow:auto; }
		.clearfix:before, .clearfix:after { content:"\0020"; display:block; height:0; visibility:hidden; } .clearfix:after { clear:both; }


/* ===== GLOBALS ===== */
body { overflow: hidden;font: 62.5% Arial, Sans-Serif;font-family:'Helvetica Bold','Helvetica','Arial',Sans-Serif;}
#blkblnkt {
	width: 100%;
	height: 1100em;
	background: #f4fafd;
	margin: 0 auto;
	padding:0;
}
#blkblnkt a .logo { width:80%; height:16em;background:url('/images/logo.png') no-repeat center top; margin: 0 auto;background-size: 100%;}
#blkblnkt h1 { padding: 0; margin:0;}
#blkblnkt .nav-home div { border-radius: 5px; width: 80%; height: 7.5em; background:#2b3f96;margin:0 auto 10px;z-index:99999999;position:relative;}
#blkblnkt .footer { position:fixed;bottom:0;width:100%;height:15em;background:url('/images/bkg-footer.png') no-repeat center top;background-size:100%;padding:0;}

.Flexible-container { }
.Flexible-container #map_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;

}

@media screen and (min-width:769px) and (max-width:1024px) {
	#blkblnkt a .logo { width:80%; height:16em;background:url('/images/logo.png') no-repeat center top; margin: 0 auto;}
	#blkblnkt .footer { position:fixed;bottom:0;width:100%;height:15em;background:url('/images/bkg-footer.png') no-repeat center top;background-size:100%;padding:0;}
}
@media screen and (max-width:480px) {
	#blkblnkt a .logo { width:80%; height:12.4em;background:url('/images/logo.png') no-repeat center top; margin: 0 auto;background-size:100%;}
	#blkblnkt .footer { position:fixed;bottom:0;width:100%;height:10em;background:url('/images/bkg-footer.png') no-repeat center top;background-size:100%;padding:0;}
}
@media screen and (max-width:320px) {
	#blkblnkt a .logo { width:80%; height:12.4em;background:url('/images/logo.png') no-repeat center top; margin: 0 auto;background-size:100%;}
	#blkblnkt .footer { position:fixed;bottom:0;width:32em;height:6.2em;background:url('/images/bkg-footer.png') no-repeat center top;background-size:100%;padding:0;}
}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {

}